Repository pydantic/pydantic-extra-types, pull requests merged in 2023-04, with the labels that each got.

#26 Fix Failed tests for `color` type
  pydantic_extra_types/types/color.py
  pydantic_extra_types/types/payment.py
  requirements/linting.txt
  requirements/pyproject.txt
  requirements/testing.txt
Labels: bug

#14 Created Country type
  pydantic_extra_types/__init__.py
  pydantic_extra_types/types/__init__.py
  pydantic_extra_types/types/country.py
  tests/test_country_code.py
Labels: Types

#25 Add phone number types
  pydantic_extra_types/__init__.py
  pydantic_extra_types/types/__init__.py
  pydantic_extra_types/types/phone_numbers.py
  pyproject.toml
  requirements/pyproject.txt
  requirements/testing.txt
  tests/test_phone_numbers.py
Labels: Types

#29 make `phonenumbers` a requirement
  pydantic_extra_types/types/phone_numbers.py
Labels: bug

#30 chore(feat): Add ABARouting number type
  pydantic_extra_types/__init__.py
  pydantic_extra_types/types/__init__.py
  pydantic_extra_types/types/routing_number.py
  requirements/pyproject.txt
  tests/test_phone_numbers.py
  tests/test_routing_number.py
Labels: Types

#32 add missing countries
  .pre-commit-config.yaml
  pydantic_extra_types/types/color.py
  pydantic_extra_types/types/country.py
  pydantic_extra_types/types/payment.py
  pydantic_extra_types/types/phone_numbers.py
  pydantic_extra_types/types/routing_number.py
  pyproject.toml
  requirements/linting.txt
  requirements/pyproject.txt
  requirements/testing.txt
  tests/test_types_color.py
Labels: enhancement
